* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #F7EC7D;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
}
.container-ppal {
  width: 50vw;
  height: 100vh;
  position: relative;
  background-color: #62306D;
}
.relative {
  position: absolute;
  top: 10%;
  left: -47.5%;
  width: 800px;
  border-radius: 50%;
  height: 800px;
  border-bottom: #F7EC7D 400px solid;
  border-right: #F7EC7D 400px solid;
  border-left: #62306D 400px solid;
  border-top: #62306D 400px solid;
  rotate: -45deg;
  background-color: #F7EC7D;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 50%;
  height: 50%;

}
